.brand-logo {
    padding-left: 10px !important;
}



/* .navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    margin-bottom: 0 !important;
    height: 33px;
}

.row-item:nth-child(even){
    background: #28779e;
}


.row {
    border: 1px solid red;
}

.d-flex{
    border: 1px solid blue;
} */