.main-header {
  background: url(../img/baby1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #20bf6b;
}
.m-orange {
  background: #ee6e73;
}
.m-orange-light {
  background: #f6a2ad;
}
.m-brown {
  background: #5c5757;
}
.indicator-item.active {
  background-color: #ef9a9a !important;
}
.waves-materialize {
  background-color: rgba(238, 110, 115, 0.5);
}
/* .primary-overlay {
  background: rgba(255, 255, 255, 0.062);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-one {
  position: relative;
  background: url(../img/slide1.jpg);
  background-size: cover;
  background-position: center;
} */
